body {
  background-color: deepskyblue;
  
}
h1 {
  font-size: 20px;
  margin-left: 20px;
}
div {
  width: 200px;
  height: 200px;
  background: red;
  float: left;
  margin-left: 20px;
  
}
.element3 {
  width: 640px;
  height: 200px;
  clear: both;
  margin-top: 20px;
}