body {
  background-color: deepskyblue;
}
h1 {
  font-size: 20px;
}

.element {
  width: 200px;
  height: 200px;
  background: red;
  float: left;
  
}
.element1 {
  width: 200px;
  height: 200px;
  background: red;
  float: left;
  margin-left: 20px;
}
.element2 {
  width: 200px;
  height: 200px;
  background: red;
  float: left;
  margin-left: 20px;
}
.element3 {
  width: 640px;
  height: 200px;
  background: red;
  float:top;
  margin-top: 220px;
  margin-left: 0px;
}